body{
    overflow: hidden;
   margin: 0%;
    width: 1275px;
    height: 590px;
    display: grid;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%); 
   
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(7,1fr);
}
@font-face {
    font-family: myfont;
    src: url('assets/EduTASBeginner-VariableFont_wght.ttf');
}


 #container{
    grid-area: 2/3/7/11;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
#sign_in{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}
#sign_up{
    grid-column-start: 3;
    grid-column-end: 6;
    
}
#sign_up_image{
    position: absolute;
    width: 510px;
    height: 422px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.signup_message{
    position: absolute;
    font-size: 30px;
    text-align: center;
    color: white;
}
#head{
    position: relative;
    left: 30px; 
    font-size: 65px;
}
#bot{
    position: relative;
    left: 35px; bottom: 20px;
    font-size: 35px;
}
#sign_up_button{
    font-size: 30px;
    width: 180px;
    height: 40px;
    border-radius: 15px;
    color: black;
    background-color: white;
}

#logo{
    height: 45px;
    width: 45px;
    position: relative;
    left: 15px; top: 10px;
}
#title{
    font-size: 25px;
    font-family: myfont;
    position: relative;
    left: 65px; bottom: 60px;
}
#text{
    font-size: 65px;
    font-weight: 800;
   
    position: relative;
    left: 70px; bottom: 70px;
}
form{
    position: relative;
    top: -80px; left: 90px;
}
input{
    height:30px;
    width: 290px;
    border-radius: 15px;
}
input:invalid{
    border: 3px solid red;
}
input:valid{
    border: 3px solid green;
}
#email{
    position: relative;
    left: -70px;
}
#password{
    position: relative;
    top: 30px; left: -70px;
}
 #sign_in_button{
    font-size: 20px;
    font-weight: 600;
    width: 120px;
    height: 40px;
   border-radius: 15px; 
    color: white;
    background-color: orange;
     border-color: orange;
    position: relative;
    top: 60px; left: 30px;
} 




 